git+https://github.com/RRomeoRJ0143/pytgcalls
git+https://github.com/yt-dlp/yt-dlp
OpsAi-
aiofiles-23.2.1
aiohttp-3.9.5
aiosignal-1.3.1
anyio-4.3.0
asyncio-3.4.3
attrs-23.2.0
beautifulsoup4-4.12.3
brotli-1.1.0
certifi-2024.2.2
charset-normalizer-3.3.2
deprecation-2.1.0
dnspython-2.6.1
fake-useragent-0.1.14
ffmpeg-python-0.2.0 
frozenlist-1.4.1 
future-1.0.0 
gitdb-4.0.11 
gitpython-3.1.43
h11-0.14.0 
hachoir-3.3.0
heroku3-5.2.1
httpcore-1.0.5
httpx-0.27.0
idna-3.7 
lxml-4.9.4
lyricsgenius-3.0.1
motor-3.4.0 
multidict-6.0.5
mutagen-1.47.0
ntgcalls-1.1.2
packaging-24.0
pillow-9.5.0
psutil-5.9.8
pyaes-1.6.1 
pycryptodomex-3.20.0
pykeyboard-0.1.5
pymongo-4.7.2 
pyrogram-2.0.106
pysocks-1.7.1 
python-dateutil-2.9.0.post0 
python-dotenv-1.0.1
pyyaml-6.0.1
redis-5.0.4 
requests-2.32.2
screeninfo-0.8.1 
search-engine-parser-0.6.8
six-1.16.0 
smmap-5.0.1
sniffio-1.3.1 
soupsieve-2.5 
speedtest-cli-2.1.3 
spotipy-2.23.0 
tgcrypto-1.2.5 
urllib3-2.2.1 
websockets-12.0 
yarl-1.9.4 
youtube-search-2.1.2
youtube-search-python-1.6.6
